In [28]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd
import time
import pymongo
from pymongo import MongoClient

In [8]:
def init_browser():
    # @NOTE: Replace the path with your actual path to the chromedriver
    executable_path = {"executable_path": "chromedriver.exe"}
    return Browser("chrome", **executable_path, headless=False)

In [9]:
def get_soup(url):
    browser = init_browser()

    browser.visit(url)

    html = browser.html
    soup = BeautifulSoup(html, "html.parser")
    
    browser.quit()

    return soup

In [18]:
def scrape(url):
    
    try:
                
        city_details = {}

        soup = get_soup(url)

        # Get city name

        n = soup.find("div", class_="kno-ecr-pt kno-fb-ctx gsmt")
        name = n.find("span").text

        # Get city category

        c = soup.find("div", class_="wwUB2c kno-fb-ctx E75vKf")
        category = c.find("span").text

        # Get attraction description
        a = soup.find("div", class_="PZPZlf hb8SAc kno-fb-ctx")
        about = a.find("span").text

        city_details = {
                            "city_name": name,
                            "city_category": category,
                            "city_about": about,
                            "city_url": city_url+city
        }

    except:
        print("Error - Retry: "+ url)

    return city_details

In [29]:
client = MongoClient("mongodb+srv://thidar:mongoexplorer2019@city-explorer-ocvlm.mongodb.net/test?retryWrites=true")
db = client.city_explorer
c_city_info = db.city_info

In [20]:
city_url = "https://www.google.com/search?q="
    
cities = ["bangkok","london","paris","dubai","singapore","nyc","kl","tokyo","istanbul","seoul"]
    
for city in cities:
    city_info = scrape(city_url+city)
    print(city_info)
    # Store list to MongoDB 
#     c_city_info.insert_one(city_info)

{'city_name': 'Bangkok', 'city_category': 'Capital of Thailand', 'city_about': 'Bangkok, Thailand’s capital, is a large city known for ornate shrines and vibrant street life. The boat-filled Chao Phraya River feeds its network of canals, flowing past the Rattanakosin royal district, home to opulent Grand Palace and its sacred Wat Phra Kaew Temple. Nearby is Wat Pho Temple with an enormous reclining Buddha and, on the opposite shore, Wat Arun Temple with its steep steps and Khmer-style spire.', 'city_url': 'https://www.google.com/search?q=bangkok'}
{'city_name': 'London', 'city_category': 'Capital of England', 'city_about': 'London, the capital of England and the United Kingdom, is a 21st-century city with history stretching back to Roman times. At its centre stand the imposing Houses of Parliament, the iconic ‘Big Ben’ clock tower and Westminster Abbey, site of British monarch coronations. Across the Thames River, the London Eye observation wheel provides panoramic views of the South Bank cultural complex, and the entire city.', 'city_url': 'https://www.google.com/search?q=london'}
{'city_name': 'Paris', 'city_category': 'Capital of France', 'city_about': "Paris, France's capital, is a major European city and a global center for art, fashion, gastronomy and culture. Its 19th-century cityscape is crisscrossed by wide boulevards and the River Seine. Beyond such landmarks as the Eiffel Tower and the 12th-century, Gothic Notre-Dame cathedral, the city is known for its cafe culture and designer boutiques along the Rue du Faubourg Saint-Honoré.", 'city_url': 'https://www.google.com/search?q=paris'}
{'city_name': 'Dubai', 'city_category': 'City in the United Arab Emirates', 'city_about': 'Dubai is a city and emirate in the United Arab Emirates known for luxury shopping, ultramodern architecture and a lively nightlife scene. Burj Khalifa, an 830m-tall tower, dominates the skyscraper-filled skyline. At its foot lies Dubai Fountain, with jets and lights choreographed to music. On artificial islands just offshore is Atlantis, The Palm, a resort with water and marine-animal parks.', 'city_url': 'https://www.google.com/search?q=dubai'}
{'city_name': 'Singapore', 'city_category': 'Country in Asia', 'city_about': "Singapore, an island city-state off southern Malaysia, is a global financial center with a tropical climate and multicultural population. Its colonial core centers on the Padang, a cricket field since the 1830s and now flanked by grand buildings such as City Hall, with its 18 Corinthian columns. In Singapore's circa-1820 Chinatown stands the red-and-gold Buddha Tooth Relic Temple, said to house one of Buddha's teeth.", 'city_url': 'https://www.google.com/search?q=singapore'}
{'city_name': 'New York', 'city_category': 'City in New York', 'city_about': 'New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.', 'city_url': 'https://www.google.com/search?q=nyc'}
{'city_name': 'Kuala Lumpur', 'city_category': 'Capital of Malaysia', 'city_about': 'Kuala Lumpur is the capital of Malaysia. Its modern skyline is dominated by the 451m-tall Petronas Twin Towers, a pair of glass-and-steel-clad skyscrapers with Islamic motifs. The towers also offer a public skybridge and observation deck. The city is also home to British colonial-era landmarks such as the Kuala Lumpur Railway Station and the Sultan Abdul Samad Building.', 'city_url': 'https://www.google.com/search?q=kl'}
{'city_name': 'Tokyo', 'city_category': 'Capital of Japan', 'city_about': "Tokyo, Japan’s busy capital, mixes the ultramodern and the traditional, from neon-lit skyscrapers to historic temples. The opulent Meiji Shinto Shrine is known for its towering gate and surrounding woods. The Imperial Palace sits amid large public gardens. The city's many museums offer exhibits ranging from classical art (in the Tokyo National Museum) to a reconstructed kabuki theater (in the Edo-Tokyo Museum).", 'city_url': 'https://www.google.com/search?q=tokyo'}
{'city_name': 'Istanbul', 'city_category': 'City in Turkey', 'city_about': 'Istanbul is a major city in Turkey that straddles Europe and Asia across the Bosphorus Strait. Its Old City reflects cultural influences of the many empires that once ruled here. In the Sultanahmet district, the open-air, Roman-era Hippodrome was for centuries the site of chariot races, and Egyptian obelisks also remain. The iconic Byzantine Hagia Sophia features a soaring 6th-century dome and rare Christian mosaics.', 'city_url': 'https://www.google.com/search?q=istanbul'}
{'city_name': 'Seoul', 'city_category': 'Capital of South Korea', 'city_about': 'Seoul, the capital of South Korea, is a huge metropolis where modern skyscrapers, high-tech subways and pop culture meet Buddhist temples, palaces and street markets. Notable attractions include futuristic Dongdaemun Design Plaza, a convention hall with curving architecture and a rooftop park; Gyeongbokgung Palace, which once had more than 7,000 rooms; and Jogyesa Temple, site of ancient locust and pine trees.', 'city_url': 'https://www.google.com/search?q=seoul'}

In [47]:
cities = [{"city": "nyc", "city_name": "New York", "lat_lon": ["40.6971494","-74.2598618"]},
            {"city": "london", "city_name": "London", "lat_lon": ["51.5285582","-0.2416803"]},
            {"city": "paris", "city_name": "Paris", "lat_lon": ["48.8588377","2.2770205"]},
            {"city": "seoul", "city_name": "Seoul", "lat_lon": ["37.5650172","126.8494666"]},
            {"city": "tokyo", "city_name": "Tokyo", "lat_lon": ["35.5040542","138.6486961"]},
            {"city": "istanbul", "city_name": "Istanbul", "lat_lon": ["41.0049823","28.7319988"]},
            {"city": "dubai", "city_name": "Dubai", "lat_lon": ["25.0750853","54.9475594"]},
            {"city": "singapore", "city_name": "Singapore", "lat_lon": ["1.3139961","103.7041644"]},
            {"city": "kl", "city_name": "Kuala Lumpur", "lat_lon": ["3.1385036","101.6169492"]},
            {"city": "bangkok", "city_name": "Bangkok", "lat_lon": ["13.7245601","100.4930255"]}]

In [48]:
cities_df = pd.DataFrame(cities)
cities_df

        city     city_name                    lat_lon
0        nyc      New York  [40.6971494, -74.2598618]
1     london        London   [51.5285582, -0.2416803]
2      paris         Paris    [48.8588377, 2.2770205]
3      seoul         Seoul  [37.5650172, 126.8494666]
4      tokyo         Tokyo  [35.5040542, 138.6486961]
5   istanbul      Istanbul   [41.0049823, 28.7319988]
6      dubai         Dubai   [25.0750853, 54.9475594]
7  singapore     Singapore   [1.3139961, 103.7041644]
8         kl  Kuala Lumpur   [3.1385036, 101.6169492]
9    bangkok       Bangkok  [13.7245601, 100.4930255]

In [49]:
city_details = list(c_city_info.find({}, {'_id': 0}))

In [50]:
city_df = pd.DataFrame(city_details)
city_df

,city_about,city_category,city_name,city_url
0,"Bangkok, Thailand’s capital, is a large city k...",Capital of Thailand,Bangkok,https://www.google.com/search?q=bangkok
1,"London, the capital of England and the United ...",Capital of England,London,https://www.google.com/search?q=london
2,"Paris, France's capital, is a major European c...",Capital of France,Paris,https://www.google.com/search?q=paris
3,Dubai is a city and emirate in the United Arab...,City in the United Arab Emirates,Dubai,https://www.google.com/search?q=dubai
4,"Singapore, an island city-state off southern M...",Country in Asia,Singapore,https://www.google.com/search?q=singapore
5,New York City comprises 5 boroughs sitting whe...,City in New York,New York,https://www.google.com/search?q=nyc
6,Kuala Lumpur is the capital of Malaysia. Its m...,Capital of Malaysia,Kuala Lumpur,https://www.google.com/search?q=kl
7,"Tokyo, Japan’s busy capital, mixes the ultramo...",Capital of Japan,Tokyo,https://www.google.com/search?q=tokyo
8,Istanbul is a major city in Turkey that stradd...,City in Turkey,Istanbul,https://www.google.com/search?q=istanbul
9,"Seoul, the capital of South Korea, is a huge m...",Capital of South Korea,Seoul,https://www.google.com/search?q=seoul

In [56]:
city_details_df = pd.merge(cities_df, city_df, on='city_name')
data = city_details_df.loc[city_details_df['city']=='nyc']

In [57]:
data.to_dict(orient = 'records')

[{'city': 'nyc',
  'city_name': 'New York',
  'lat_lon': ['40.6971494', '-74.2598618'],
  'city_about': 'New York City comprises 5 boroughs sitting where the Hudson River meets the Atlantic Ocean. At its core is Manhattan, a densely populated borough that’s among the world’s major commercial, financial and cultural centers. Its iconic sites include skyscrapers such as the Empire State Building and sprawling Central Park. Broadway theater is staged in neon-lit Times Square.',
  'city_category': 'City in New York',
  'city_url': 'https://www.google.com/search?q=nyc'}]